<div class="dashboard-side-overlay">
	<h4>Group</h4>
	<nav class="navbar">
		<!--<div nav-tree nav-tree-data="vm.dataItem"></div>-->
		<div ivh-treeview="vm.treeList.group" ivh-treeview-on-cb-change="$emit('treeListToggle', ivhNode, ivhIsSelected)" ivh-treeview-default-selected-state="false">
			<script type="text/ng-template">
				<span ivh-treeview-toggle>
				<span ivh-treeview-twistie></span>
				</span>
				<span ng-if="trvw.useCheckboxes()" ivh-treeview-checkbox></span>
				<span class="ivh-treeview-node-label" ivh-treeview-toggle>
				<span ng-click="$emit('treeListToggle', node)">{{trvw.label(node)}}</span>
				</span>
				<div ivh-treeview-children></div>
			</script>
		</div>
	</nav>
	<h4>Group 2</h4>
	<nav class="navbar">
		<!--<div nav-tree nav-tree-data="vm.dataItem"></div>-->
		<div ivh-treeview="vm.treeList.group2" ivh-treeview-on-cb-change="$emit('treeListToggle', ivhNode, ivhIsSelected)" ivh-treeview-default-selected-state="false">
			<script type="text/ng-template">
				<span ivh-treeview-toggle>
				<span ivh-treeview-twistie></span>
				</span>
				<span ng-if="trvw.useCheckboxes()" ivh-treeview-checkbox></span>
				<span class="ivh-treeview-node-label" ivh-treeview-toggle>
				<span ng-click="$emit('treeListToggle', node)">{{trvw.label(node)}}</span>
				</span>
				<div ivh-treeview-children></div>
			</script>
		</div>
	</nav>
</div>
<div class="dashboard-left-button"></div>